{{#> layout}}
<p class="greeting">{{t "newsletter.email.unsubscribedGreeting"}}</p>

<p class="message">
    {{t "newsletter.email.unsubscribedMessage"}}
</p>

<p class="message">
    {{t "newsletter.email.unsubscribedResubscribe"}}
</p>

<p class="message">
    {{t "newsletter.email.unsubscribedFeedback"}}
</p>

<p class="signature">{{t "newsletter.email.unsubscribedSignature"}}</p>
{{/layout}}

