{{#> layout}}
<p class="greeting">{{t "newsletter.email.unsubscribeConfirmGreeting"}}</p>

<p class="message">
    {{t "newsletter.email.unsubscribeConfirmMessage"}}
</p>

<p class="centered">
    <a href="{{unsubscribeUrl}}" class="button">
        {{t "newsletter.email.unsubscribeConfirmButton"}}
    </a>
</p>

<p class="message">
    {{t "newsletter.email.unsubscribeConfirmAlternative"}}
</p>

<p class="signature">{{t "newsletter.email.unsubscribeConfirmSignature"}}</p>
{{/layout}}

