{{#> layout}}

<p class="greeting">{{t "newsletter.email.verificationGreeting" name=""}}</p>

<p class="message">
    {{t "newsletter.email.verificationText"}}
</p>

<p class="centered">
    <a href="{{verificationUrl}}" class="button">
        {{t "newsletter.email.verificationLinkLabel"}}
    </a>
</p>

<p class="message">
    {{t "newsletter.email.expiryText"}}
</p>

<p class="message">
    {{t "newsletter.email.ignoreText"}}
</p>

<p class="signature">{{t "newsletter.email.welcomeSignature"}}</p>

{{/layout}}
